header.header 
    .container 
        .row.align-items-center 
            .col-3 
                .inner-logo 
                    a(href="/")
                        //- img(src="/images/logo.svg", alt="Logo")
            .col-9 
                .inner-menu 
                    ul 
                        li.no-bullet 
                            a(href="/") Trang chủ
                        li.no-bullet 
                            a(href="/categories") Danh mục
                        li.no-bullet 
                            a(href="/cart") Giỏ hàng(<span mini-cart>0</span>)
