mixin formatDateTime(time)
    span #{moment(time).format("hh:mm - DD/MM/YYYY")} 

mixin formatDate(time)
    span #{moment(time).format("DD/MM/YYYY")}

mixin formatTime(time)
    span #{moment(time).format("hh:mm::ss")}